@import "tailwindcss";

@layer base {
  body.CV {
    @apply bg-gray-100;
  }
}

@page {
  size: A4;
  margin: 0;
}

@media print {
  body {
    background-color: white;
  }

  .CV .Page {
    padding-top: 0;
    padding-bottom: 0;
    box-shadow: none;
  }

  .Page:last-of-type {
    margin-top: 50px;
  }
}

html {
  scroll-behavior: smooth;
}

* {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
